* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: #2b163d;
    color: #f5e6c8;
    text-align: center;
    padding: 25px;
}

header h1 {
    color: #ff7518;
    margin: 0 0 10px 0;
}

header p {
    margin: 0;
}


nav {
    background-color: #ff7518;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 20px;

    color: #1b1025;
    text-decoration: none;
    white-space: nowrap;

}

nav a:hover {
    background-color: #d95f00;
    color: white;
}

.home-page {
    background-color: #1b1025;
    color: #f5e6c8;
}

.home-page main {
    min-height: 100vh;
    background-color: #24152f;
    padding: 40px 20px;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.home-content h2 {
    color: #ff7518;
}

.home-content p {
    line-height: 1.6;
    text-align: left;
}

.pumpkin-page {
    background-color: #1b1025;
    color: #f5e6c8;
}

.pumpkin-page main {
    min-height: 100vh;
    background-color: #321b3f;
    padding: 40px 20px;
}

.pumpkin-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.pumpkin-content h2 {
    color: #ff9d3d;
    font-family: "Courier New", Courier, monospace;
}

.pumpkin-content h3 {
    color: #ff7518;
}

.pumpkin-content p {
    line-height: 1.6;
    text-align: left;
}

.home-content img,
.pumpkin-content img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #2b163d;
    color: #e6c9ff;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 700px) {

    .page-container {
    width: 90vw;
}

    header {
        padding: 20px 10px;
    }

    nav a {
        padding: 8px 10px;
        font-size: 14px;
    }

    main {
        padding: 25px 10px;
    }

    .home-content p,
    .pumpkin-content p {
        font-size: 16px;
    }

}